// Reset css
* {
	all: unset;
	font-family: BreezeSans;
	background-color: #0e1827;
	color: #FEFEFE;
}

/**************************/
/*        CALENDAR        */
/**************************/

.calendar {
	font-size: 19;
	font-weight: bold;
	padding: 0.5px;
	-gtk-secondary-caret-color: #3584e4
}

.calendar:selected {
	color: #1c2c43;
	background-color: #FEFEFE;
	border-radius: 10%;
}

.calendar.header {
	color: #FF004B;
}

.calendar.highlight {
	color: #9AC4FF;
	background-color: #1c2c43;
}

.calendar:inconsistent {
	color: #6c809e;
}

